In [1]:
#unpacking of list

In [12]:
l1 = [12,55,34,45]
l1

[12, 55, 34, 45]

In [13]:
def function(*args):
    print(args)
    print(type(args))

In [14]:
function(22,45,76)

(22, 45, 76)
<class 'tuple'>

In [15]:
function(*l1)

(12, 55, 34, 45)
<class 'tuple'>

In [16]:
def add(l):
    total =0
    for i in l:
        total = total + i
    return total

In [17]:
add(l1)

146

#### **kwargs

In [18]:
def func(**kwargs):
    print(kwargs)
    print(type(kwargs))

In [19]:
func(name = 'Faizan', age = 25, Profession= 'Business')

{'name': 'Faizan', 'age': 25, 'Profession': 'Business'}
<class 'dict'>

In [20]:
user = {'name' : 'smeeta' , 'age': 28, 'Education': 'MBA'}

In [21]:
user1 ={'name': 'asad', 'age': 22, 'Education': 'Btech'}

In [31]:
def functn(**kwargs):
    print(kwargs)
    print(type(kwargs))

In [32]:
functn(**user1)

{'name': 'asad', 'age': 22, 'Education': 'Btech'}
<class 'dict'>

In [43]:
def functn(**kwargs):
    user2 = {
        'name': 'Naam nhi hai kya?',
        'age': 'Umar ka kya karoge?',
        'Education': 'nahi batana'}
    user2.update(kwargs)
    return user2

In [45]:
functn(name ='kartik')

{'name': 'kartik', 'age': 'Umar ka kya karoge?', 'Education': 'nahi batana'}

In [57]:
def funct(**kwargs):
    user3 = {
        'Name': None,
        'Age':  None,
        'Education': None}
    for key in kwargs.keys():
        if key in user3.keys():
            user3.update(kwargs)
        else:
            print('Sahi se likh na bhidu')
    return user3

In [59]:
funct(name = 'fzn')

Sahi se likh na bhidu

{'Name': None, 'Age': None, 'Education': None}

In [1]:
def func1(**kwargs):
    user = {'Name' : None,
            'Age' : None,
             'Education' : None}
    for key in kwargs.keys():
        if key in user.keys():
            user[key]= kwargs[key]
    return user

In [2]:
func1(Name = 'seeta' , age = 23 , Education  = 'Msc')

{'Name': 'seeta', 'Age': None, 'Education': 'Msc'}